include ../common/_var
include ../common/_mixin

doctypehtml
html(lang='ru')
	include ../common/head
	body
		//- include ../common/p404
		include ../common/header
		include ../common/nav
		include ../common/home
		include ../common/calc



		include ../common/footer
	// END body