.history {
    max-width: 1194px;
    margin-left: 10px;
    margin-top: -58px;
    background: url("../img/bg-history.png") no-repeat;
    background-size: contain;
    &__title {
        background: url("../img/bg-title-history.png") no-repeat;
        background-size: 101% 100%;
        padding: 26px 20px 49px;
        position: relative;
        top: 175px;
        left: -5px;
        &:before {
            position: absolute;
            content: "";
            background: url(../img/skrep2.png) no-repeat;
            background-size: 100%;
            width: 75px;
            height: 127px;
            left: 36%;
            top: -96px;
        }
    }
    &__body {
        display: flex;
        justify-content: space-between;
        padding: 277px 70px 152px 70px;
    }
    &__pic {
        width: 50%;
        padding-right: 50px;
        &-wrap {
            margin-top: 33px;
            margin-left: 35px;
            background: #fff;
            padding: 22px 24px 16px 23px;
            position: relative;
            img {
                width: 100%;
            }
            &:before, &:after {
                position: absolute;
                content: "";
                background: url(../img/mark.png) no-repeat;
                background-size: 100%;
                width: 184px;
                height: 169px;

            }
            &:before {
                top: -81px;
                left: -75px;
            }
            &:after {
                bottom: -82px;
                right: -94px;
                width: 217px;
                height: 195px;
            }
        }
        &-title {
            font-family: "BadScript";
            font-size: 20px;
            font-weight: 400;
            letter-spacing: 1.2px;
            padding: 10px 0;
            text-align: center;
           
        }
    }
    &__text {
        width: 50%;

        &-title {
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 9px;
            font-size: 25px;
        }
        &-description {
            font-size: 20px;
            line-height: 2;
        }
    }
}