.ideal {
    max-width: 1180px;
    margin: 0 auto;
    margin-top: -33px;
    padding: 95px 114px 208px 187px;
    min-height: 1109px;
    background: url("../img/bg-ideal.png") no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    &__title {
        color: #000;
        &-wrap {
            max-width: 663px;
            margin-left: auto;
            margin-bottom: 60px;
        }
    }
    &__body {
        max-width: 245px;
        padding: 10px;
        flex-grow: 1;
    }
    &__footer {
        color: #000000;
        font-family: "BadScript";
        font-size: 17px;
        font-weight: 400;
        max-width: 663px;
        margin-left: auto;
    }
}