secton
    .wrap
        .calc
            .title.calc__title Калькулятор стоимости
            .calc__body
                .calc__description.shadow Здесь вы можете узнать примерную стоимость услуг по уходу за садом.
                .calc_motivation.shadow Дополнительный текст, призыв к действию возможно, дополнительный текст, призыв к действию возможно.
                .calc__action.shadow Акция ак ция акц ия акция акц ия акция кцияакция акция 