header
	.wrap
		.header
			.logo
				img(src="img/logo.png", alt="mr.Sadowsky logo")
			.header__contacts 
				a.contact__item(href="tel:88314230757") 8 831 423 07 57
				a.contact__item(href="mailto:hello@sadowski.ru") Hello@sadowski.ru

