secton
    .wrap
        .history
            .title.title--white.history__title История
            .history__body 
                .history__pic
                    .history__pic-wrap.shadow
                        img(src="img/hist1.jpg", alt="history")
                        .history__pic-title апрель 1997
                .history__text
                    .history__text-title Возможно название
                    .history__text-description текст текст текст текст т текст текст текст текст т текст текст текст текст ттекст текст текст текст ттекст текст текст текст ттекст текст текст текст ттекст текст текст текст ттекст текст текст текст т