section
    .wrap
        .home 
            .tale-slider
                .tale__item
                    img(src="img/tale/tale1.jpg", alt="tale")
                .tale__item
                    img(src="img/tale/tale2.jpg", alt="tale")
                .tale__item
                    img(src="img/tale/tale3.jpg", alt="tale")
                    a(href="#" data-slide="4" data-pic="4").tale__var.tale__var1 . . . чай с мятой
                    a(href="#" data-slide="4" data-pic="5").tale__var.tale__var2 . . . ягодный морс
                .tale__item
                    img(class="choise1", src="img/tale/tale4.jpg", alt="tale")
                .tale__item
                    img(src="img/tale/tale6.jpg", alt="tale")
                .tale__item
                    img(src="img/tale/tale7.jpg", alt="tale")
                    a(href="#" data-slide="7" data-pic="8").tale__var.tale__var3 . . . в розарий
                    a(href="#" data-slide="7" data-pic="9").tale__var.tale__var4 . . . на пруд с кувшинками
                .tale__item
                    img(class="choise1", src="img/tale/tale8.jpg", alt="tale")
                .tale__item
                    img(src="img/tale/tale10.jpg", alt="tale")
                .tale__item
                    img(src="img/tale/tale11.jpg", alt="tale")
                    a(href="#" data-slide="10" data-gift="Морошка").tale__var.tale__var5 Морошка
                    a(href="#" data-slide="10" data-gift="Щавель").tale__var.tale__var6 Щавель    
                    a(href="#" data-slide="10" data-gift="Незабудка").tale__var.tale__var7 Незабудка
                .tale__item
                    img(src="img/tale/tale12.jpg", alt="tale", class="tale__item-img")
                    .tale__form
                        form
                            // Hidden Required Fields
                            input(type='hidden', name='project_name', value='Sadowski')
                            input(type='hidden', name='admin_email', value='liaforweb@gmail.com')
                            input(type='hidden', name='form_subject', value='Sadowski - Отправить подарок')
                            // END Hidden Required Fields
                            input(class="choise3" type="text" class="display-none" name="gift" value="Подарок не выбран")
                            //- p.choise-gift Оставьте, пожалуйста, свои данные, чтобы я смог с вами связаться и передать подарок
                            p.choise-gift Прежде, чем отправить форму выберете подарок на предидущей вкладке
                            .form-line
                                .input--wrap
                                    input(type="text" name="name" placeholder="Имя" required)
                            .form-line
                                .input--wrap
                                    input(type="tel" name="tel" placeholder="Телефон" required)
                            .form-line
                                .btn
                                    input( type="submit" value="Отправить")
                            .form-line
                                .input-agree
                                    input(type="checkbox" name="agree" class="agree" id="agree")
                                    label(for="agree" class="checkbox-item") Я даю согласие на обработку персональных данных 
                                    p С заботой о вашем времени!
               