secton
    .wrap
        .home 
            .tale-slider
                .tale__item
                    img(src="img/tale/tale1.jpg", alt="tale")
                .tale__item
                    img(src="img/tale/tale2.jpg", alt="tale")
                .tale__item
                    img(src="img/tale/tale3.jpg", alt="tale")
                    a(href="#" data-slide="4").tale__var.tale__var1 . . . чай с мятой
                    a(href="#" data-slide="5").tale__var.tale__var2 . . . ягодный морс
                .tale__item.tale4
                    img(src="img/tale/tale4.jpg", alt="tale")
                .tale__item
                    img(src="img/tale/tale5.jpg", alt="tale")
                .tale__item
                    img(src="img/tale/tale6.jpg", alt="tale")
                .tale__item
                    img(src="img/tale/tale7.jpg", alt="tale")
                    a(href="#" data-slide="8").tale__var.tale__var3 . . . в розарий
                    a(href="#" data-slide="9").tale__var.tale__var4 . . . на пруд с кувшинками
                .tale__item
                    img(src="img/tale/tale8.jpg", alt="tale")
                .tale__item
                    img(src="img/tale/tale9.jpg", alt="tale")
                .tale__item
                    img(src="img/tale/tale10.jpg", alt="tale")
                .tale__item
                    img(src="img/tale/tale11.jpg", alt="tale")
                    a(href="#" data-slide="12").tale__var.tale__var5 Морошка
                    a(href="#" data-slide="13").tale__var.tale__var6 Щавель    
                    a(href="#" data-slide="14").tale__var.tale__var7 Незабудка
                .tale__item
                    img(src="img/tale/tale12.jpg", alt="tale")
                    .tale__form
                        form(action="#")
                            input(type="text" class="display-none" name="gift" value="Морошка")
                            p Оставьте, пожалуйста, свои данные, чтобы я смог с вами связаться и передать подарок
                            .form-line
                                .input--wrap
                                    input(type="text" name="name" placeholder="Имя" required)
                            .form-line
                                .input--wrap
                                    input(type="phone" name="name" placeholder="Телефон" required)
                            .form-line
                                .btn
                                    input( type="submit" value="Отправить")
                            .form-line
                                .input-agree
                                    input(type="checkbox" name="agree" class="agree" id="agree")
                                    label(for="agree" class="checkbox-item") Я даю согласие на обработку персональных данных 
                                    p С заботой о вашем времени!
                .tale__item
                    img(src="img/tale/tale12.jpg", alt="tale")
                    .tale__form
                        form(action="#")
                            input(type="text" class="display-none" name="gift" value="Щавель")
                            p Оставьте, пожалуйста, свои данные, чтобы я смог с вами связаться и передать подарок
                            .form-line
                                .input--wrap
                                    input(type="text" name="name" placeholder="Имя" required)
                            .form-line
                                .input--wrap
                                    input(type="phone" name="name" placeholder="Телефон" required)
                            .form-line
                                .btn
                                    input( type="submit" value="Отправить")
                            .form-line
                                .input-agree
                                    input(type="checkbox" name="agree" class="agree" id="agree")
                                    label(for="agree" class="checkbox-item") Я даю согласие на обработку персональных данных 
                                    p С заботой о вашем времени!
                .tale__item
                    img(src="img/tale/tale12.jpg", alt="tale")
                    .tale__form
                        form(action="#")
                            input(type="text" class="display-none" name="gift" value="Незабудка") 
                            p Оставьте, пожалуйста, свои данные, чтобы я смог с вами связаться и передать подарок
                            .form-line
                                .input--wrap
                                    input(type="text" name="name" placeholder="Имя" required)
                            .form-line
                                .input--wrap
                                    input(type="phone" name="name" placeholder="Телефон" required)
                            .form-line
                                .btn
                                    input( type="submit" value="Отправить")
                            .form-line
                                .input-agree
                                    input(type="checkbox" name="agree" class="agree" id="agree")
                                    label(for="agree" class="checkbox-item") Я даю согласие на обработку персональных данных 
                                    p С заботой о вашем времени!