section(data-anchor="#ideal")
    .wrap
        .ideal
            .ideal__title-wrap
                h2.title.ideal__title Идеальный сад
                .subtitle по мнению mr.Sadowsky
            .ideal__body Акция акция акция акция акция акция акция акция
            .ideal__footer Дополнительный текст, призыв к действию возможно дополнительный текст, призыв к действию