nav
    .wrap
        .nav
            .menu-wrap
                .menu-toggle 
                    .one
                    .two
                    .three

                nav.main-menu 
                    ul
                        li
                            a(href="#" data-menuAnchor="#calc") Калькулятор
                        li
                            a(href="#") О нас
                        li
                            a(href="#") Услуги
                        li
                            a(href="#") Советы
                        li
                            a(href="#") Контакты

                            
