nav
    .wrap
        .nav
            .menu-wrap
                .menu-toggle 
                    .one
                    .two
                    .three

                nav.main-menu 
                    ul
                        li
                            a(href="#" data-menuAnchor="#calc") Калькулятор
                        li
                            a(href="#" data-menuAnchor="#history") О нас
                        li
                            a(href="#" data-menuAnchor="#ideal") Услуги
                        li
                            a(href="#" data-menuAnchor="#notes") Советы
                        li
                            a(href="#" data-menuAnchor="#contacts") Контакты

                            
