secton
    .wrap
        .notes
            .title.title--white.notes__title Записки mr. Sadowski
            .notes__body
                .container
                    .rev_slider
                        .rev_slide
                            .notes__wrap
                                .notes__item
                                    .notes__title-note Название
                                    .notes__text Текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст 
                                    .notes__pic(style="background-image: url('img/task1.jpg')") 
                        .rev_slide
                            .notes__wrap
                                .notes__item
                                    .notes__title-note Название
                                    .notes__text Текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст 
                                    .notes__pic(style="background-image: url('img/task2.jpg')") 
                        .rev_slide
                            .notes__wrap
                                .notes__item
                                    .notes__title-note Название
                                    .notes__text Текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст 
                                    .notes__pic(style="background-image: url('img/task3.jpg')") 
                        .rev_slide
                            .notes__wrap
                                .notes__item
                                    .notes__title-note Название
                                    .notes__text Текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст 
                                    .notes__pic(style="background-image: url('img/task4.jpg')")
                        .rev_slide
                            .notes__wrap
                                .notes__item
                                    .notes__title-note Название
                                    .notes__text Текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст 
                                    .notes__pic(style="background-image: url('img/task5.jpg')")
 