section
    .wrap
        .notes
            .title.title--white.notes__title Записки mr. Sadowski
            .notes__body
                .container
                    .rev_slider
                        .rev_slide
                            .notes__wrap
                                .notes__item
                                    .notes__title-note Название
                                    .notes__text Текст текст текст тек ст текст текст тек  ст текст текvvст текст текст теккст теккст теgeк ст теккст теgeкст теккст теgeккст теgeagкст текст теdvdxст тек ст текст теккст теgeкст текст теккст теgeкст текст текст текст 
                                    .notes__pic(style="background-image: url('img/task1.jpg')") 
                        .rev_slide
                            .notes__wrap
                                .notes__item
                                    .notes__title-note Название
                                    .notes__text Текст текст текст текст текст текст текст текст текст теdsvxvкст текст текст текст текст теgeagкст текст теdvdxvкст тект текст текст текст текст текст текст текст текст теккст теккст теgeagкст текст теdvdxкст теккст теgeagкст текст теdvdxст текст текст текст 
                                    .notes__pic(style="background-image: url('img/task2.jpg')") 
                        .rev_slide
                            .notes__wrap
                                .notes__item
                                    .notes__title-note Название
                                    .notes__text Текст текст теgeagкст текст теdvdxvкст текст текст текст текст текст текст текст текст теккст теgeagкст текст теdvdxvкст теккст теgeagкст текст теdvdxvкст теккст теgeagкст текст теdvdxvкст теккст теgeagкст текст теdvdxvкст теккст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст 
                                    .notes__pic(style="background-image: url('img/task3.jpg')") 
                        .rev_slide
                            .notes__wrap
                                .notes__item
                                    .notes__title-note Название
                                    .notes__text Текст текст текст текст теc cdfrgfvws кст текст текст текст текст текст текст текст теккст теgeagкст текст теdvdxvкст текст текст текст текст текст текст текст текст теккст теккст теgeagкст текст теdvdxкст теккст теgeagкст текст теdvdxкст текст текст текст текст текст 
                                    .notes__pic(style="background-image: url('img/task4.jpg')")
                        .rev_slide
                            .notes__wrap
                                .notes__item
                                    .notes__title-note Название
                                    .notes__text Текст текfdrgergст текст текст текdrgasgст текст тек ст тек ст текст текст текст теккст теgeagкст текст теdvdxvкст текст текст текст текст текст теккст теккст теgeagкст текст теdvdxкст теккст теgeagкст текст теdvdxкст теккст теgeagкст текст теdvdxст текст текст текст текст текст текст текст 
                                    .notes__pic(style="background-image: url('img/task5.jpg')")
 